*{
    margin: 0;
    padding: 0;
}

.Inicio{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)), url(Inter.jpg);
    background-size: cover;
    background-position: center;

}
.Titulo{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
}
.Titulo1{
    font-size: 80px;
    line-height: 100px;
    font-weight: bold;
    margin-bottom: 50px;
}
.Titulo p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 0px;
    font-family: sans-serif;
}